In [15]:
models = {
                    "Linear Regression": LinearRegression(),
                    "Ridge Regression": Ridge(),
                    "Lasso Regression": Lasso(),
                    "Random Forest Regressor": RandomForestRegressor(verbose=1),
                    "Decision Tree Regressor": DecisionTreeRegressor(),
                    "Gradient Boosting Regressor": GradientBoostingRegressor(verbose=1),
                    "AdaBoost Regressor": AdaBoostRegressor(),
                }
                
                params = {
                    "Linear Regression": {},  # No parameters to tune in basic linear regression
                    "Ridge Regression": {
                        'alpha': [0.1, 1.0, 10.0, 100.0],
                        'solver': ['auto', 'svd', 'cholesky', 'lsqr', 'saga'],
                    },
                    "Lasso Regression": {
                        'alpha': [0.1, 0.5, 1.0, 10.0],
                        'max_iter': [100, 1000, 10000],
                    },
                    "Random Forest Regressor": {
                        'n_estimators': [50, 100, 200, 300],
                        'max_features': ['auto', 'sqrt', 'log2'],
                        'max_depth': [None, 10, 20, 30],
                        'min_samples_split': [2, 5, 10],
                        'min_samples_leaf': [1, 2, 4]
                    },
                    "Decision Tree Regressor": {
                        'criterion': ['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],
                        'splitter': ['best', 'random'],
                        'max_depth': [None, 10, 20, 30],
                        'min_samples_split': [2, 5, 10],
                        'min_samples_leaf': [1, 2, 4],
                    },
                    "Gradient Boosting Regressor": {
                        'n_estimators': [50, 100, 200, 300],
                        'learning_rate': [0.01, 0.05, 0.1, 0.2],
                        'subsample': [0.6, 0.8, 1.0],
                        'max_depth': [3, 5, 7, 9],
                        'loss': ['squared_error', 'absolute_error', 'huber', 'quantile']
                    },
                    "AdaBoost Regressor": {
                        'n_estimators': [50, 100, 200, 300],
                        'learning_rate': [0.01, 0.1, 0.5, 1.0],
                        'loss': ['linear', 'square', 'exponential']
                    }
                }

In [20]:
import pandas as pd

df = pd.read_csv("Data\delivary_time.csv")

In [21]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [22]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weatherconditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken(min)'],
      dtype='object')

In [25]:
df = df.replace('NaN', float(np.nan), regex=True)

In [26]:
df.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weatherconditions               616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken(min)                   0
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          43739 non-null  object
 3   Delivery_person_Ratings      43685 non-null  object
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  43862 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weatherconditions            44977 non-null  object
 12  Road_traffic_density         44992 non-null  object
 13  Vehicle_condition            45593 non-null  int64
 14  Type_of_order                45593 non-null  object
 15  Type_of_vehicle              45593 non-null  object
 16  multiple_deliveries          44600 non-null  object
 17  Festival                     45365 non-null  object
 18  City                         44393 non-null  object
 19  Time_taken(min)              45593 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 7.0+ MB

In [28]:
df['City']

0                Urban
1        Metropolitian
2                Urban
3        Metropolitian
4        Metropolitian
              ...
45588    Metropolitian
45589    Metropolitian
45590    Metropolitian
45591    Metropolitian
45592    Metropolitian
Name: City, Length: 45593, dtype: object

In [6]:
pd.api.types.is_numeric_dtype(df['City'])

False

In [51]:
df = pd.read_csv("D:\Projects\Resume project\dtp2\Data\Extracted_Features\\new_data.csv")
df.head()

,Unnamed: 0,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,...,day_of_week,is_month_start,is_month_end,is_quarter_start,is_quarter_end,is_year_start,is_year_end,is_weekend,order_prepare_time,distance
0,0,37,4.9,22.745049,75.892471,22.765049,75.912471,Sunny,High,2,...,5,0,0,0,0,0,0,1,15.0,3
1,1,34,4.5,12.913041,77.683237,13.043041,77.813237,Stormy,Jam,2,...,4,0,0,0,0,0,0,0,5.0,20
2,2,23,4.4,12.914264,77.678400,12.924264,77.688400,Sandstorms,Low,0,...,5,0,0,0,0,0,0,1,15.0,1
3,3,38,4.7,11.003669,76.976494,11.053669,77.026494,Sunny,Medium,0,...,1,0,0,0,0,0,0,0,10.0,7
4,4,32,4.6,12.972793,80.249982,13.012793,80.289982,Cloudy,High,1,...,5,0,0,0,0,0,0,1,15.0,6

In [52]:
df = df.replace('NaN', float(np.nan), regex=True)

In [53]:
df.isnull().sum()

Unnamed: 0                     0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Weather_conditions             0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken(min)                0
day                            0
month                          0
quarter                        0
year                           0
day_of_week                    0
is_month_start                 0
is_month_end                   0
is_quarter_start               0
is_quarter_end                 0
is_year_start                  0
is_year_end                    0
is_weekend                     0
order_prepare_time             0
distance                       0
dtype: int64

In [50]:
df[df['Delivery_person_Age'].isna()]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, Delivery_person_Age, Delivery_person_Ratings, Restaurant_latitude, Restaurant_longitude, Delivery_location_latitude, Delivery_location_longitude, Weather_conditions, Road_traffic_density, Vehicle_condition, Type_of_order, Type_of_vehicle, multiple_deliveries, Festival, City, Time_taken(min), day, month, quarter, year, day_of_week, is_month_start, is_month_end, is_quarter_start, is_quarter_end, is_year_start, is_year_end, is_weekend, order_prepare_time, distance]
Index: []

[0 rows x 31 columns]

In [ ]:
model_uri = "models:/<MODEL_NAME>/Production"  # or specify a version number
loaded_model = mlflow.sklearn.load_model(model_uri)
predictions = loaded_model.predict(X_test)
print(predictions)

In [ ]:
import mlflow
import mlflow.sklearn
from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_regression

# Generate sample data
X, y = make_regression(n_samples=100, n_features=1, noise=0.1)

# Train a model
model = LinearRegression().fit(X, y)

# Log the model and register it
with mlflow.start_run() as run:
    mlflow.sklearn.log_model(model, "model")
    mlflow.register_model(f"runs:/{run.info.run_id}/model", "LinearRegressionModel")

# Retrieve the latest model URI
model_uri = "models:/LinearRegressionModel/latest"

# Load the model for inference
loaded_model = mlflow.pyfunc.load_model(model_uri)

# Make predictions
predictions = loaded_model.predict(X)
print(predictions)